[submodule "lib/socialscraper"]
	path = lib/socialscraper
	url = https://github.com/alpaca/socialscraper.git
	branch = master
[submodule "lib/identityresolver"]
	path = lib/identityresolver
	url = https://github.com/alpaca/identityresolver.git
	branch = master
[submodule "lib/contribscraper"]
	path = lib/contribscraper
	url = https://github.com/alpaca/contribscraper.git
	branch = master
